@{
    ViewBag.Title = "Nuevo Pedido";
}

<title>@ViewBag.Title</title>

@section Estilos {
    <link href="~/css/pedidos.css" rel="stylesheet" />
    <link href="~/css/PedidosNuevoModif.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />

    @*ESTILOS DE BOTONES*@
    <link href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" rel="stylesheet" />

    @*filter columns*@
    <link href="https://cdn.datatables.net/fixedheader/3.2.2/css/fixedHeader.dataTables.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

<div class="titulopedidoclass">
    <h2 class="titulopedido">Nuevo Pedido</h2>
</div>



<div class="container mt-5 ">



    <!-- Pestañas -->
    <ul class="nav nav-tabs pestaniasDatos" id="myTab" role="tablist">


        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="cliente-tab" data-bs-toggle="tab" href="#cliente" role="tab" aria-controls="cliente" aria-selected="true">Datos del Cliente</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="proveedor-tab" data-bs-toggle="tab" href="#proveedor" role="tab" aria-controls="proveedor" aria-selected="true">Datos del Proveedor</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pedido-tab" data-bs-toggle="tab" href="#pedido" role="tab" aria-controls="pedido" aria-selected="false">Datos del Pedido</a>
        </li>
    </ul>

    <!-- Contenido de las pestañas -->
    <div class="tab-content mt-4" id="myTabContent">
        <div class="tab-pane fade show active" id="cliente" role="tabpanel" aria-labelledby="cliente-tab">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Datos del Cliente</h3>
                    <input type="text" class="input-nuevo" id="idCliente" name="idCliente" hidden>
                    <div class="form-container">
                        <div class="form-group">
                            <label for="nombreCliente">Nombre</label>
                            <input type="text" class="input-nuevo" id="nombreCliente" name="nombreCliente">
                        </div>
                        <div class="form-group">
                            <label for="dniCliente">DNI</label>
                            <input type="text" class="input-nuevo" id="dniCliente" name="dniCliente">
                        </div>
                        <div class="form-group">
                            <label for="telefonoCliente">Telefono</label>
                            <input type="text" class="input-nuevo" id="telefonoCliente" name="telefonoCliente">
                        </div>
                        <div class="form-group">
                            <label for="direccion">Dirección</label>
                            <input type="text" class="input-nuevo" id="direccionCliente" name="direccionCliente">
                        </div>
                    </div>
                    <div class="text-end mt-3">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#clienteModal" onclick="abrirCliente()">
                            <i class="fa fa-search"></i> Seleccionar Cliente
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade show" id="proveedor" role="tabpanel" aria-labelledby="proveedor-tab">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Datos del Proveedor</h3>
                    <input type="text" class="input-nuevo" id="idProveedor" name="idProveedor" hidden>
                    <div class="form-container">
                        <div class="form-group">
                            <label for="nombreProveedor">Nombre</label>
                            <input type="text" class="input-nuevo" id="nombreProveedor" name="nombreProveedor" readonly>
                        </div>
                        <div class="form-group">
                            <label for="dniCliente">Apodo</label>
                            <input type="text" class="input-nuevo" id="apodoProveedor" name="apodoProveedor" readonly>
                        </div>
                        <div class="form-group">
                            <label for="telefonoCliente">Dirección</label>
                            <input type="text" class="input-nuevo" id="direccionProveedor" name="direccionProveedor" readonly >
                        </div>
                        <div class="form-group">
                            <label for="direccion">Telefono</label>
                            <input type="text" class="input-nuevo" id="telefonoProveedor" name="telefonoProveedor" readonly>
                        </div>
                    </div>
                    <div class="text-end mt-3">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#proveedorModal" onclick="abrirProveedor()">
                            <i class="fa fa-search"></i> Seleccionar Proveedor
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="pedido" role="tabpanel" aria-labelledby="pedido-tab">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Datos del Pedido</h3>
                    <div class="form-container">
                        <div class="form-group">
                            <label for="fechaPedido">Fecha</label>
                            <input type="date" class="input-nuevo" id="fechaPedido" name="fechaPedido">
                        </div>
                        <div class="form-group">
                            <label for="fechaEntrega">Fecha Entrega</label>
                            <input type="date" class="input-nuevo" id="fechaEntrega" name="fechaEntrega">
                        </div>
                        <div class="form-group">
                            <label for="nroRemito">Nro Remito</label>
                            <input type="text" class="input-nuevo" id="nroRemito" name="nroRemito">
                        </div>

                         <div class="form-group">
                            <input type="text" class="input-nuevo" id="IdZona" name="IdZona" hidden>
                            <label for="zona">Zona</label>
                            <div style="display: flex; align-items: center;">
                                <input type="text" class="input-nuevo" id="Zona" name="Zona" style="flex: 1;" readonly>
                                <button type="button" class="btn btn-default" id="buscarZona" onclick="abrirZona()"
                                        style="margin-left: 8px; background-color: #198754; padding: 6px 10px; border-radius: 4px; position: relative; top: -12px;">
                                    <i class="fa fa-search" style="color: white; font-size: 1em;"></i>
                                </button>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="input-nuevo" id="IdChofer" name="IdChofer" hidden>
                            <label for="chofer">Chofer</label>
                            <div style="display: flex; align-items: center;">
                                <input type="text" class="input-nuevo" id="Chofer" name="Chofer" style="flex: 1;" readonly>
                                <button type="button" class="btn btn-default" id="buscarChofer" onclick="abrirChofer()"
                                        style="margin-left: 8px; background-color: #198754; padding: 6px 10px; border-radius: 4px; position: relative; top: -12px;">
                                    <i class="fa fa-search" style="color: white; font-size: 1em;"></i>
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="zona">Costo Envio</label>
                            <input type="text" class="input-nuevo" id="costoEnvio" name="zona" placeholder="$0.00">
                        </div>

                        <div class="form-group">
                            <label for="total">Total</label>
                            <input type="text" class="input-nuevo" id="total" name="total">
                        </div>
                        <div class="form-group">
                            <label for="totalPagoProveedor">Total Pago Proveedor</label>
                            <input type="text" class="input-nuevo" id="totalPagoProveedor" name="totalPagoProveedor" readonly>
                        </div>
                        <div class="form-group">
                            <label for="totalPagoCliente">Total Pago Cliente</label>
                            <input type="text" class="input-nuevo" id="totalPagoCliente" name="totalPagoCliente" readonly>
                        </div>
                        <div class="form-group">
                            <label for="restanteProveedor">Restante Proveedor</label>
                            <input type="text" class="input-nuevo" id="restanteProveedor" name="restanteProveedor">
                        </div>
                        <div class="form-group">
                            <label for="restanteCliente">Restante Cliente</label>
                            <input type="text" class="input-nuevo" id="restanteCliente" name="restanteCliente">
                        </div>
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <input type="text" class="input-nuevo" id="estado" name="estado">
                        </div>
                        <div class="form-group">
                            <label for="observacion">Observación</label>
                            <input type="text" class="input-nuevo" id="observacion" name="observacion">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pestañas -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="productos-tab" data-bs-toggle="tab" href="#productos" role="tab" aria-controls="productos-tab" aria-selected="true">Productos</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="cliente-pagos-tab" data-bs-toggle="tab" href="#cliente-pagos" role="tab" aria-controls="cliente-pagos" aria-selected="false">Pagos del Cliente</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="proveedor-pagos-tab" data-bs-toggle="tab" href="#proveedor-pagos" role="tab" aria-controls="proveedor-pagos" aria-selected="false">Pagos a Proveedor</a>
        </li>
    </ul>

    <!-- Contenido de las pestañas -->
    <div class="tab-content mt-4" id="myTabContent">
        <div class="tab-pane fade show active" id="productos" role="tabpanel" aria-labelledby="productos-tab">
            <div class="card mb-12">
                <div class="card-body">
                    <h3 class="card-title">Productos</h3>
                    <table class="display nowrap" id="grd_Productos" style="width:100%">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Aquí va el contenido de tu DataTable de Productos -->
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end mt-3">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-danger me-2">
                                <i class="fa fa-trash"></i> Eliminar
                            </button>
                            <button type="button" class="btn btn-secondary me-2">
                                <i class="fa fa-pencil"></i> Modificar
                            </button>
                            <button type="button" class="btn btn-success" onclick="anadirProducto()">
                                <i class="fa fa-plus"></i> Añadir
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade " id="cliente-pagos" role="tabpanel" aria-labelledby="cliente-pagos-tab">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Pagos del Cliente</h3>
                    <table class="display nowrap" id="grd_pagosClientes" style="width:100%">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th hidden>IdMoneda</th>
                                <th>Moneda</th>
                                <th>Cotizacion</th>
                                <th>Total</th>
                                <th>TotalARS</th>
                                <th>Observacion</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Aquí va el contenido de tu DataTable de Pagos del Cliente -->
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end mt-3">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-danger me-2">
                                <i class="fa fa-trash"></i> Eliminar
                            </button>
                            <button type="button" class="btn btn-secondary me-2">
                                <i class="fa fa-pencil"></i> Modificar
                            </button>
                            <button type="button" class="btn btn-success" onclick="anadirPago('Cliente')">
                                <i class="fa fa-plus"></i> Añadir
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="proveedor-pagos" role="tabpanel" aria-labelledby="proveedor-pagos-tab">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Pagos a Proveedor</h3>
                    <table class="display nowrap" id="grd_pagosaProveedores" style="width:100%">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Moneda</th>
                                <th>Cotizacion</th>
                                <th>Total</th>
                                <th>TotalARS</th>
                                <th>Observacion</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Aquí va el contenido de tu DataTable de Pagos a Proveedor -->
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end mt-3">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-danger me-2">
                                <i class="fa fa-trash"></i> Eliminar
                            </button>
                            <button type="button" class="btn btn-secondary me-2">
                                <i class="fa fa-pencil"></i> Modificar
                            </button>
                            <button type="button" class="btn btn-success" onclick="anadirPago('Proveedor')">
                                <i class="fa fa-plus"></i> Añadir
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <button type="submit" class="btn btn-primary mt-3">Registrar</button>

    <div id="proveedorModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="proveedorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="proveedorModalLabel">Seleccionar Proveedor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="tablaProveedores" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Apodo</th>
                                <th>Direccion</th>
                                <th>Telefono</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">


                    <button type="button" class="btn btn-success" id="btnSeleccionarProveedor"><i class="fa fa-check"> Seleccionar</i></button>
                    
                </div>
            </div>
        </div>
    </div>

     <div id="clienteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="clienteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="proveedorModalLabel">Seleccionar Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="tablaClientes" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Dni</th>
                                <th>Direccion</th>
                                <th>Telefono</th>
                                
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btnSeleccionarCliente"><i class="fa fa-check"> Seleccionar</i></button>
                </div>
            </div>
        </div>
    </div>

    <div id="choferModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="choferModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="proveedorModalLabel">Seleccionar Chofer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="tablaChoferes" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Direccion</th>
                                <th>Telefono</th>

                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btnSeleccionarChofer"><i class="fa fa-check"> Seleccionar</i></button>
                </div>
            </div>
        </div>
    </div>


    <div id="zonaModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="zonaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="proveedorModalLabel">Seleccionar Zona</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="tablaZonas" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Precio</th>

                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btnSeleccionarZona"><i class="fa fa-check"> Seleccionar</i></button>
                </div>
            </div>
        </div>
    </div>





    <div class="modal fade" id="productosModal" tabindex="-1" role="dialog" aria-labelledby="productosModalLabel" aria-hidden="true" data-editing="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productosModalLabel">Seleccionar Producto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="productoSelect" class="text-black">Producto</label>
                        <select id="productoSelect" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label for="precioSelect" class="text-black">Historial de Precios</label>
                        <select id="precioSelect" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label for="precioInput" class="text-black">Precio</label>
                        <input type="text" id="precioInput" class="form-control" placeholder="Ingrese precio manual" step="0.01">
                    </div>
                    <div class="form-group">
                        <label for="cantidadInput" class="text-black">Cantidad</label>
                        <input type="number" id="cantidadInput" class="form-control" placeholder="Ingrese cantidad">
                    </div>
                    <div class="form-group">
                        <label for="totalInput" class="text-black">Total</label>
                        <input type="text" id="totalInput" class="form-control" disabled>
                    </div>
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnGuardarProducto" class="btn btn-primary" onclick="guardarProducto()">Añadir Producto</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="pagosClienteModal" tabindex="-1" role="dialog" aria-labelledby="pagosClienteModalLabel" aria-hidden="true" data-editing="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pagosClienteModalLabel">Pago de cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="fechapagoCliente" class="text-black">Fecha del pago</label>
                        <input type="date" id="fechapagoCliente" class="form-control" placeholder="Fecha">
                    </div>
                    <div class="form-group">
                        <label for="MonedasPagoCliente" class="text-black">Moneda</label>
                        <select id="MonedasPagoCliente" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label for="cotizacionInput" class="text-black">Cotizacion</label>
                        <input type="text" id="cotizacionPagoCliente" class="form-control" placeholder="Cotizacion" step="0.01">
                    </div>
                    <div class="form-group">
                        <label for="cantidadPagoCliente" class="text-black">Cantidad</label>
                        <input type="number" id="cantidadPagoCliente" class="form-control" placeholder="Ingrese cantidad">
                    </div>
                    <div class="form-group">
                        <label for="totalInput" class="text-black">Total ARS</label>
                        <input type="text" id="totalARSPagoCliente" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label for="totalInput" class="text-black">Observaciones</label>
                        <input type="text" id="observacionPagoCliente" class="form-control">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnGuardarPagoCliente" class="btn btn-primary" onclick="guardarPago('Cliente')">Añadir Pago</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="pagosProveedorModal" tabindex="-1" role="dialog" aria-labelledby="pagosProveedorModalLabel" aria-hidden="true" data-editing="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pagosProveedorModalLabel">Pago de proveedor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="fechapagoProveedor" class="text-black">Fecha del pago</label>
                        <input type="date" id="fechapagoProveedor" class="form-control" placeholder="Fecha">
                    </div>
                    <div class="form-group">
                        <label for="MonedasPagoProveedor" class="text-black">Moneda</label>
                        <select id="MonedasPagoProveedor" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label for="cotizacionInput" class="text-black">Cotizacion</label>
                        <input type="text" id="cotizacionPagoProveedor" class="form-control" placeholder="Cotizacion" step="0.01">
                    </div>
                    <div class="form-group">
                        <label for="cantidadPagoProveedor" class="text-black">Cantidad</label>
                        <input type="number" id="cantidadPagoProveedor" class="form-control" placeholder="Ingrese cantidad">
                    </div>
                    <div class="form-group">
                        <label for="totalInput" class="text-black">Total ARS</label>
                        <input type="text" id="totalARSPagoProveedor" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label for="totalInput" class="text-black">Observaciones</label>
                        <input type="text" id="observacionPagoProveedor" class="form-control">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnGuardarPagoProveedor" class="btn btn-primary" onclick="guardarPago('Proveedor')">Añadir Pago</button>
                </div>
            </div>
        </div>
    </div>


    <partial name="~/Views/Utils/Modals.cshtml" />



@section Scripts {

    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    @*SCRIPTS DE BOTONES*@
    < src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js">


        <script src="~/js/utils/moment.js"></script>
        <script src="~/js/pedidosnuevomodif.js">

       <script src="~/js/site.js"></script>

}