<!-- Modal Error -->
<div class="modal fade w-100" id="ErrorModal" tabindex="-1" aria-labelledby="ErrorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content text-white" style="background: #323844">
            <div class="modal-header border-0 bg-danger bg-opacity-10 colorEncabezado">
                <i class="fa fa-exclamation-circle text-danger fs-2 me-2"></i>
                <h5 class="modal-title text-white fw-bold" id="ErrorModalLabel">Error</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body text-center">
                <p id="ErrorModalText" class="text-danger fs-4 fw-semibold m-0 text-white text-wrap"></p>
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <button type="button" class="btn btn-danger px-4" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Advertencia -->
<div class="modal fade w-100" id="AdvertenciaModal" tabindex="-1" aria-labelledby="AdvertenciaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content text-white" style="background: #323844">
            <div class="modal-header border-0 bg-warning bg-opacity-10 colorEncabezado">
                <i class="fa fa-exclamation-triangle text-warning fs-2 me-2"></i>
                <h5 class="modal-title text-white fw-bold" id="AdvertenciaModalLabel">Advertencia</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body text-center">
                <p id="AdvertenciaModalText" class="text-warning fs-4 fw-semibold m-0 text-white text-wrap"></p>
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <button type="button" class="btn btn-warning px-4" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Éxito -->
<div class="modal fade w-100" id="exitoModal" tabindex="-1" aria-labelledby="exitoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content text-white" style="background: #323844">
            <div class="modal-header border-0 bg-success bg-opacity-10 colorEncabezado">
                <i class="fa fa-check-circle text-success fs-2 me-2"></i>
                <h5 class="modal-title text-white fw-bold">Éxito</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body text-center">
                <p id="exitoModalText" class="text-success fs-4 fw-semibold m-0 text-white text-wrap"></p>
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <button type="button" class="btn btn-success px-4" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Confirmar -->
<div class="modal fade w-100" id="modalConfirmar" tabindex="-1" aria-labelledby="modalConfirmarLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content text-white" style="background: #323844">
            <div class="modal-header border-0 bg-warning bg-opacity-10 colorEncabezado">
                <i class="fa fa-question-circle text-warning fs-2 me-2"></i>
                <h5 class="modal-title text-white fw-bold" id="modalConfirmarLabel">Confirmación</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body text-center">
                <p id="modalConfirmarMensaje" class="fs-4 fw-semibold m-0 text-white text-wrap">
                    ¿Estás seguro que deseas continuar?
                </p>
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <button type="button" class="btn btn-secondary px-4" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary px-4" id="btnModalConfirmarAceptar">Sí, continuar</button>
            </div>
        </div>
    </div>
</div>
