.modal-edicion {
    max-width: 60%; /* o lo que necesites */
}


@media (max-width: 1300px) {
    .modal-edicion {
        max-width: 80%; /* o lo que necesites */
    }
}

@media (max-width: 900px) {
    .modal-edicion {
        max-width: 98%; /* o lo que necesites */
    }
}

#modalProveedoresAsignados .modal-content {
    background-color: #323844 !important;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: none;
}


#modalEdicion .modal-content {
    background-color: #323844 !important;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: none;
}

#lblDescripcion {
    color: white !important;
}