/* Fondo azul oscuro */
body {
    background-color: #191133;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    width: 80%;
    height: 70%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(234, 234, 14, 1);
}

/* Parte izquierda (azul oscuro) */
.left-side {
    background-color: #1B2631;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

    .left-side img {
        max-width: 80%;
        height: auto;
    }

/* Parte derecha (blanco) */
.right-side {
    width: 25%;
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .right-side h3 {
        color: #1e3c72;
    }

/* Estilos de los formularios */
.form-control {
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;

}

.btn-primary {
    width: 100%;
    background-color: #1e3c72;
    border-color: #1e3c72;
    border-radius: 10px;
    padding: 10px;
}

    .btn-primary:hover {
        background-color: #173b63;
        border-color: #173b63;
    }

/* Responsividad */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        height: auto;
    }

    .left-side, .right-side {
        width: 100%;
    }
}
.input-group {
    display: flex;
    align-items: center;
    
}


    .input-group .input-group-text {
        background: transparent;
        border: none;
        padding: 0;
    }

    .input-group .fa {
        font-size: 1.2rem;
        color: #333;
        cursor: pointer;
    }


