.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    padding: 20px;
}

.card {
    border-radius: 20px;
    box-shadow: 4px 4px 20px rgba(234, 234, 14, 0.8);
    color: red; /* Letras blancas */
    width: 380px; /* Tamaño de tarjeta */
    padding: 10px;
    text-align: center;
    border-radius: 10px; /* Bordes redondeados */
    transition: transform 0.2s, box-shadow 0.2s; /* Añadir efecto de animación */
    position: relative; /* Para posicionar el ícono */
}

    .card:hover {
        transform: scale(1.05); /* Pequeño aumento al pasar el mouse */
        box-shadow: 0px 0px 10px rgba(234, 200, 14, 2); /* Sombra al pasar el mouse */
    }

    .card img {
        width: 100%; /* Ancho completo de la imagen */
        height: 100%; /* Tamaño de la imagen */
        border-radius: 10px; /* Bordes redondeados */
        margin-bottom: 10px;
    }

.nombre {
    margin: 5px 0;
    font-size: 35px;
    font-weight: bold; /* Negrita para el texto */
    color: white;
}

.cotizacion {
    margin: 5px 0;
    font-size: 35px;
    font-weight: bold; /* Negrita para el texto */
    box-shadow: 4px 4px 20px rgba(255, 255, 237, 0.1);
    color: white;
    border-radius: 10px; /* Bordes redondeados */
}

.edit-icon {
    font-size: 30px;
    color: white;
    position: absolute;
    bottom: 25px;
    left: 20px;
    cursor: pointer;
}


.eliminar-icon {
    font-size: 30px;
    color: white;
    position: absolute;
    bottom: 25px;
    right: 20px;
    cursor: pointer;
}

/*.titulo-moneda{
    color: white;
    font-size: 70px;
    background-color: gray;
    border-radius: 50px;
    height: 120px;
    text-align: center;
}*/

@media (max-width: 1300px) {

    .container {
        justify-content: center;
    }
}

@media (max-width: 1000px) {

    .card {
        width: 85%; /* Tamaño de tarjeta */
    }
}


