
.modal-edicion {
    max-width: 60%; /* o lo que necesites */
}

#modalImportar .modal-content {
    background-color: #323844 !important;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: none;
}


@media (max-width: 1300px) {
    .modal-edicion {
        max-width: 80%; /* o lo que necesites */
    }
}

@media (max-width: 900px) {
    .modal-edicion {
        max-width: 98%; /* o lo que necesites */
    }
}



  .tabla-scroll-limitada {
    overflow-y: auto;
    max-height: 400px !important;
  }

.fila-nueva-insumo {
    background-color: green !important;
    color: #155724;
    font-weight: 500;
}

.fila-sin-cambios {
    background-color: #007bff !important;
    color: white !important;
}

.fila-modificada {
    background-color: #ffc107 !important;
    color: black !important;
}

.fila-nueva-insumo {
    background-color: #28a745 !important;
    color: white !important;
    font-weight: bold;
}


.colorEncabezadoTabla {
    background: linear-gradient(90deg, #3f87ff, #0052d4);
    color: white !important;
}

.colorEncabezadoTabla th {
    background: inherit;
    color: white !important;
}


.col-descripcion {
    max-width: 200px;
    min-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

#vistaPrevia {
    border-collapse: collapse;
    border-spacing: 0;
}

    #vistaPrevia th,
    #vistaPrevia td {
        border: 1px solid #007bff; /* o el color de borde que estés usando */
    }

    #vistaPrevia thead th {
        position: sticky;
        top: 0;
        background: linear-gradient(90deg, #3f87ff, #0052d4);
        color: white;
        z-index: 2;
        border-bottom: 2px solid #0040b0; /* evita borde blanco al fijar */
    }


#resumenImportacion {
    padding: 0.75rem;
    border: 1px solid #17a2b8;
    background-color: #d1ecf1;
    color: #0c5460;
    border-radius: 0.25rem;
}

#resumenImportacion {
    transition: all 0.3s ease;
}

    #resumenImportacion.mostrar {
        display: block !important;
    }


#vistaPrevia th,
#vistaPrevia td {
    white-space: nowrap;
    padding: 0.5rem;
    font-size: 0.88rem;
}

#vistaPrevia thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    background: linear-gradient(90deg, #3f87ff, #0052d4);
    color: white;
}

#resumenImportacion.mostrar {
    display: block !important;
}

#resumenImportacion {
    display: none;
}

.col-descripcion {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}
