.form-control:focus, .form-select:focus {
    border-color: #4dabf7;
    box-shadow: 0 0 0 0.1rem rgba(77, 171, 247, 0.5);
}

.card-header.bg-gradient {
    background: linear-gradient(to right, #2c3e50, #34495e);
}

.nav-tabs .nav-link.active {
    background-color: #1a1a1a !important;
    color: #fff !important;
    border-color: #4dabf7 #4dabf7 #1a1a1a;
}


.bg-gradient-primary {
    background: linear-gradient(90deg, #1366f2, #6aaefc);
    border-radius: 0.4rem;
}

.modal-content {
    background-color: #323844 !important;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: none;
}
