@{
    ViewData["Title"] = "Home Page";
}


@section Estilos {
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/css/ComprasNuevoModif.css" rel="stylesheet" />
}


<div class="container-fluid mt-5" style="width: 80vw; margin: 0; padding: 0; position: relative; left: 50%; transform: translateX(-50%);">
    <!-- Datos del Compra -->
    <div class="card w-100" style="border: none;">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Datos de la Compra</h5>
        </div>
        <div class="card-body">
            <div class="row g-3">
                <input type="text" class="form-control" id="IdCompra" hidden>
                <input type="text" class="form-control" id="IdProveedor" name="IdProveedor" hidden>
                <div class="col-12 col-md-3">
                    <label for="fecha" class="form-label">Fecha</label>
                    <input type="date" class="input-nuevo" id="fecha" name="fecha">
                </div>
                <div class="col-12 col-md-3">
                    <label for="unidadNegocio" class="form-label">Unidad de Negocio</label>
                    <select class="input-nuevo-select" id="UnidadesNegocio">
                    </select>
                </div>
                <div class="col-12 col-md-3">
                    <label id="lblLocal" for="local" class="form-label">Local</label>
                    <select class="input-nuevo-select" id="Locales">
                    </select>
                </div>
                <div class="col-12 col-md-3">
                    <label for="zona">Proveedor</label>
                    <div style="display: flex; align-items: center;">
                        <input type="text" class="input-nuevo" id="Proveedor" name="Proveedor" style="flex: 1;" readonly>
                        <button type="button" class="btn btn-default" id="buscarProveedor" onclick="abrirProveedor()"
                                style="margin-left: 8px; background-color: #198754; padding: 6px 10px; border-radius: 4px; position: relative; top: -12px;">
                            <i class="fa fa-search" style="color: white; font-size: 1em;"></i>
                        </button>
                    </div>
                </div>
                
               
                
                <div class="col-12 col-md-3">
                    <label for="numeroOrden" class="form-label">Nro de orden</label>
                    <input type="text" class="input-nuevo" id="numeroOrden" placeholder="Nro de orden">
                </div>
                <div class="col-12 col-md-3">
                    <label for="costoTotal" class="form-label">Costo Total</label>
                    <input type="text" class="input-nuevo" id="costoTotal" placeholder="Costo Total" disabled>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-10">
            <div class="card" style="width: 80%; position: absolute; left: 9.7vw; border: none;">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span>Insumos</span>

                    <div class="dropdown">
                    </div>
                </div>
                <div class="card-body">
                    <table class="display nowrap" id="grd_Insumos" style="width:100%">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Costo Unitario</th>
                                <th>Cantidad</th>
                                <th>SubTotal</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Aquí va el contenido de tu datatable -->
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end mt-3">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success" onclick="anadirInsumo()">
                                <i class="fa fa-plus"></i> Añadir
                            </button>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end mt-2 mb-4">
                    <a class="btn btn-primary btnnuevo" id="btnNuevoModificar" onclick="guardarCambios()">Registrar</a>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="insumosModal" tabindex="-1" role="dialog" aria-labelledby="insumosModalLabel" aria-hidden="true" data-editing="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="insumosModalLabel">Seleccionar Insumo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="insumoSelect" class="text-black">Insumo</label>
                    <select id="insumoSelect" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label for="precioInput" class="text-black">Precio</label>
                    <input type="text" id="precioInput" class="form-control" placeholder="Ingrese precio manual" step="0.01">
                </div>
                <div class="form-group">
                    <label for="cantidadInput" class="text-black">Cantidad</label>
                    <input type="number" id="cantidadInput" class="form-control" placeholder="Ingrese cantidad">
                </div>
                <div class="form-group">
                    <label for="totalInput" class="text-black">Total</label>
                    <input type="text" id="totalInput" class="form-control" disabled>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" id="btnGuardarInsumo" class="btn btn-primary" onclick="guardarInsumo()">Añadir</button>
            </div>
        </div>
    </div>
</div>


<div id="proveedorModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="proveedorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="proveedorModalLabel">Seleccionar Proveedor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="tablaProveedores" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apodo</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">


                <button type="button" class="btn btn-success" id="btnSeleccionarProveedorModal"><i class="fa fa-check"> Seleccionar</i></button>

            </div>
        </div>
    </div>
</div>

<partial name="~/Views/Utils/Modals.cshtml" />

@section Scripts {

    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    @*SCRIPTS DE BOTONES*@
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js">

    </script><script src="~/js/site.js"></script>

    @*excel*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>

    @*pdf*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

    @*imprimir*@
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>

    @*filter columns*@
    <script src="https://cdn.datatables.net/fixedheader/3.2.2/js/dataTables.fixedHeader.min.js"></script>


    <script src="~/js/utils/moment.js"></script>

    <script src="~/js/ComprasNuevoModif.js"></script>

    <script>
        var CompraData = @Html.Raw(Json.Serialize(ViewBag.Data ?? new { }));
    </script>

}

