@{
    ViewData["Title"] = "Home Page";
}


@*GOOGLEAR CARD BOOTSTRAP 5*@
@section Estilos {

    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />

    @*ESTILOS DE BOTONES*@
    <link href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" rel="stylesheet" />

    @*filter columns*@
    <link href="https://cdn.datatables.net/fixedheader/3.2.2/css/fixedHeader.dataTables.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/ProvedoresInsumos.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

}

<div id="Filtros" class="divFiltros">


    <label class="lblfiltro">Proveedor</label>
    <select id="ProveedorFiltro" name="select" class="input-nuevo">
        <option value="" selected>Proveedor</option>
    </select>

    <div class="vw-75 d-flex float-lg-end mt-2">
        <a class="btn btn-success" id="aplicarFiltros" onclick="aplicarFiltros()">Aplicar</a>
    </div>

</div>
  

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-10">
            <div class="card" style="width: 88%; position: absolute; left: 7vw; border: none;">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span>Lista de Insumos de Proveedores</span>

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle d-flex align-items-center" type="button" id="dropdownColumnas" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-cog me-2"></i> Config. Columnas
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownColumnas" id="configColumnasMenu">
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <table class="display nowrap" id="grd_InsumosProveedor" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Codigo</th>
                                <th>Descripcion</th>
                                <th>Costo Unitario</th>
                                <th>Proveedor</th>
                                <th>Fecha Actualizacion</th>
                              
                                @* <th>Costo Unitario</th> *@
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Aquí va el contenido de tu datatable -->
                        </tbody>
                    </table>
                </div>

                <div class="d-flex justify-content-end mt-2 mb-4">
                    <a class="btn btn-primary btnnuevo" onclick="nuevoInsumo()">Nuevo</a>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalEdicion" tabindex="-1" role="dialog" aria-labelledby="modalEdicionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-edicion" role="document">
        <div class="modal-content">

            <div class="modal-header bg-warning">
                <h5 class="modal-title fw-bold" id="modalEdicionLabel">Nuevo Insumo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body">
                <form id="formInsumo" class="row g-3">

                    <input type="text" class="input-nuevomodif" id="txtId" readonly hidden>

                    <div class="col-md-6">
                        <label id="lblDescripcion" for="txtCodigo" class="form-label text-black">Codigo</label>
                        <input type="text" class="form-control" id="txtCodigo" required>
                        <div class="invalid-feedback">Campo obligatorio</div>
                    </div>


                    <!-- Fila 1 -->
                    <div class="col-md-6">
                        <label id="lblDescripcion" for="txtDescripcion" class="form-label text-black">Descripcion</label>
                        <input type="text" class="form-control" id="txtDescripcion" required>
                        <div class="invalid-feedback">Campo obligatorio</div>
                    </div>

                     <div class="col-md-6">
                        <label id="lblDescripcion" for="txtCostoUnitario" class="form-label text-black">Costo Unitario</label>
                        <input type="text" class="form-control" id="txtCostoUnitario" required>
                        <div class="invalid-feedback">Campo obligatorio</div>
                    </div>

                    <div class="col-md-6">
                        <label for="Proveedores" class="form-label text-black">Proveedor</label>
                        <select id="Proveedores" class="form-select">
                            <option value="-1" selected disabled>Seleccionar</option>
                        </select>
                        <div class="invalid-feedback">Campo obligatorio</div>
                    </div>


                    <!-- Validación -->
                    <div id="errorCampos" class="alert alert-danger d-none">
                        Debes completar los campos obligatorios.
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fa fa-arrow-left"></i> Volver
                </button>
                <button type="button" id="btnGuardar" class="btn btn-primary" onclick="guardarCambios()">
                    <i class="fa fa-check"></i> Registrar
                </button>
            </div>

        </div>
    </div>
</div>



<partial name="~/Views/Utils/Modals.cshtml" />

@section Scripts {

    <!-- CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    @*SCRIPTS DE BOTONES*@
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js">

    </script><script src="~/js/site.js"></script>

    @*excel*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>

    @*pdf*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

    @*imprimir*@
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>

    @*filter columns*@
    <script src="https://cdn.datatables.net/fixedheader/3.2.2/js/dataTables.fixedHeader.min.js"></script>

        <script src="~/js/utils/moment.js"></script>

    <script src="~/js/ProvedoresInsumos.js"></script>

  


}