@{
    ViewData["Title"] = "Órdenes de Compra";
}

@section Estilos {
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/fixedheader/3.2.2/css/fixedHeader.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

<div id="Filtros" class="divFiltros">
    <label class="lblfiltro">Unidad de Negocio</label>
    <select id="UnidadNegocioFiltro" class="input-nuevo">
        <option value="" selected>Unidad Negocio</option>
    </select>

    <div class="vw-75 d-flex float-lg-end mt-2">
        <a class="btn btn-success" id="aplicarFiltros" onclick="aplicarFiltros()">Aplicar</a>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-10">
            <div class="card" style="width: 88%; position: absolute; left: 7vw; border: none;">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span>Órdenes de Compra</span>
                </div>
                <div class="card-body">
                    <table class="display nowrap" id="grd_OrdenesCompra" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Nro</th>
                                <th>Unidad de Negocio</th>
                                <th>Local</th>
                                <th>Fecha Emisión</th>
                                <th>Proveedor</th>
                                <th>Fecha Entrega</th>
                                <th>Costo Total</th>
                                <th>Estado</th>
                                <th>Nota Interna</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-end mt-2 mb-4">
                    <a class="btn btn-primary btnnuevo" onclick="nuevoOrden()">Nuevo</a>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="~/Views/Utils/Modals.cshtml" />


@section Scripts {
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.2.2/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/js/utils/moment.js"></script>
    <script src="~/js/OrdenesCompra.js?v=1.0"></script>
}
